* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: white;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
}

input:focus, button:focus {
    outline: none;
}

form {
    display: flex;
    justify-content: center;
} form input {
    border: none;
    font-size: 2.5rem;
    padding: 0 0.5rem;
} form button {
    border: none;
    background-color: white;
    color: rgb(32, 166, 255);
    font-size: 2rem;
    padding: 1.5rem;
    transition: 0.3s;
} form button:hover {
    background-color: rgb(32, 166, 255);
    color: white;
    cursor: pointer;
}

#complete-btn {
    background-color: rgb(89, 255, 89);
}
#delete-btn {
    background-color: rgb(255, 71, 71);
}

.todos {
    width: 33.33%;
    margin: 0 auto;
    margin-top: 1rem;
}
.todo {
    background-color: white;
    color: black;
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 2rem;
} .todo li {
    list-style: none;
    flex-grow: 1;
    align-self: center;
    margin-left: 1rem;
} .todo button {
    padding: 1rem;
    border: none;
    color: white;
    font-size: 1.5rem;
} .todo button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

/* js toggles */
.completed {
    color: grey;
    text-decoration: line-through;
}